body {
  background-color: #f8f9fe;
  font-family: "Inter", sans-serifs;
  margin: 0;
}

header {
  border-bottom: 1px solid hsl(230, 22%, 74%);
  line-height: 0.5rem;
  margin: 2.5rem 1rem 1rem 1rem;
  width: 90%;
}

header h1 {
  font-size: 1.45rem;
}

header h4 {
  color: hsl(228, 12%, 44%);
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: hsl(228, 12%, 44%);
  font-size: 700;
  width: 90%;
}

.dark {
  margin-top: -0.1rem;
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(230, 22%, 74%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 1.3rem;
  top: 0.123rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider,
.slider:hover {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-19px);
  -ms-transform: translateX(-19px);
  transform: translateX(-19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.social {
  height: fit-content;
  padding-bottom: 1.5rem;
  width: 90%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f3fa;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.social:hover,
.overview:hover {
  background-color: hsla(0, 0%, 77%, 0.671);
}

.facebook,
.twitter {
  border-top: 4px solid hsl(208, 92%, 53%);
}

.account {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.instagram {
  border-top: 4px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    4;
}

.youtube {
  border-top: 4px solid hsl(348, 97%, 39%);
}

.user {
  color: hsl(228, 12%, 44%);
  font-size: 0.7rem;
}

.num-of-followers {
  font-size: 3rem;
  font-weight: 700;
}

.followers {
  color: hsl(228, 12%, 44%);
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.today {
  color: hsl(163, 72%, 41%);
  font-size: 0.9rem;
  font-weight: 700;
}

img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.6rem;
}

.today-yt {
  color: hsl(356, 69%, 56%);
}

#section-title {
  margin-left: 1rem;
  padding-bottom: 1rem;
  color: hsl(228, 12%, 44%);
}

.overview {
  background-color: #f0f3fa;
  margin-bottom: 1rem;
  margin-left: 1rem;
  max-width: 90%;
  border-radius: 2%;
}

.overview img {
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.stats {
  margin-left: 1rem;
  margin-top: 1.5rem;
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}

.num {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.percent {
  font-size: 0.7rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

.positive {
  color: hsl(163, 72%, 41%);
}

.negative {
  color: hsl(356, 69%, 56%);
}

.top,
.bottom {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 900px) {
  .body {
    display: flex;
  }

  .header-container {
    width: 109%;
  }

  .container {
    max-width: 80%;
    margin-left: 10%;
  }

  .social {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sites {
    display: flex;
  }

  .sites-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 100%;
  }
}


/* DARK MODE */
body.dark-mode {
  background-color: hsl(232, 19%, 15%);
}

body.dark-mode header h1,
body.dark-mode .num-of-followers,
body.dark-mode .section-title,
body.dark-mode .num {
  color: hsl(0, 0%, 100%);
}

body.dark-mode header h4,
body.dark-mode .toggle,
body.dark-mode .user,
body.dark-mode .stats {
  color: hsl(228, 34%, 66%);
}

body.dark-mode .social,
body.dark-mode .overview,
body.dark-mode .slider::before {
  background-color: hsl(228, 28%, 20%);
}

body.dark-mode .social:hover, 
body.dark-mode .overview:hover {
  background-color: hsla(226, 70%, 68%, 0.425);
}
